[remote "origin"]
    url = git@github.com:huangyingw/setup.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = origin
    branch = master
[gdif]
    ignore = Dockerfile
    ignore = docker-compose.yml
    ignore = entrypoint.sh
    ignore = run.sh
    ignore = install_basic.sh
    ignore = install_cuda.sh
    ignore = install_cudnn.sh
    ignore = install_driver.sh
