[remote "origin"]
    url = git@github.com:huangyingw/setup.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = origin
    branch = master
[gdif]
    ignore = Dockerfile
    ignore = docker-compose.yml
    ignore = entrypoint.sh
    ignore = run.sh
    ignore = deploy.list
[commit]
    message = n
[branch "u1604/cuda_9.2/fastai"]
    remote = origin
    merge = refs/heads/u1604/cuda_9.2/fastai
[deploy]
    host = server
    path = ~/myproject/git/AI/setup
[vrun]
    silent = false
    async = false
